extends roomBase

block roomContent
    h2 Owner's Room
    div
        h2 Queue:
        if queue.length > 0
            table
                thead
                    tr
                        th Position
                        th Up Doot
                        th Down Doot
                        th Album Cover
                        th Song Name
                        th Album
                        th Artist
                        th Length
                        th Votes
                tbody
                    each track in queue
                        tr
                            td= track.position
                            td
                                form(id="#{track.id}-vote", method="POST", action="/#{room.name}/vote")
                                    //- TODO: csrf
                                    input(type="hidden", name="songId", value="#{track.id}")
                                    button(type="submit")
                                        ="+"
                            td
                                form(id="#{track.id}-unvote", method="POST", action="/#{room.name}/unvote")
                                    //- TODO: csrf
                                    input(type="hidden", name="songId", value="#{track.id}")
                                    button(type="submit")
                                        ="-"
                            td
                                img(src='#{track.albumImage}', height=64, width=64)
                            td= track.name
                            td= track.albumName
                            td= track.artistName
                            td= track.duration
                            td= room.songVotes[track.id]
        else
            p Nothing in queue!
    p Room MOTD - Room description, etc
