extends layout

block content
    h1 Welcome to #{roomName}
    p Please queue a song!

    if roomUsers != undefined && roomUsers.length > 0
        h2 Users in room:
            ul
                each user in roomUsers
                    li #{user}

    if roomCurrentPlaybackState
        p 
            if isOwner
                Room Controls:
            else
                Vote Room Controls
            table
                thead
                    tr
                        if isOwner
                            th Play
                        th Skip
                        th Skip Votes
                        th Album Cover
                        th Song Name
                        th Album
                        th Artist
                        th Progress
                tbody
                    tr
                        if isOwner
                            td
                                if roomCurrentPlaybackState.is_playing == true
                                    form(id="pause", method="POST", action="/#{roomName}/pause")
                                        //- TODO: csrf
                                        button(type="submit")
                                            ="pause"
                                else
                                    form(id="play", method="POST", action="/#{roomName}/play")
                                        //- TODO: csrf
                                        button(type="submit")
                                            ="play"
                        td
                            - var action = "";
                            - var buttonText = "";
                            if isOwner
                                - action="/" + roomName +"/skip";
                                - buttonText = "skip"
                            else
                                if userVotedToSkipCurrentSong
                                    - action = "/" + roomName + "/skip/unvote";
                                    - buttonText = "unvote to skip"
                                else
                                    - action = "/" + roomName + "/skip/vote";
                                    - buttonText = "vote to skip"
                            form(id="skip", method="POST", action=action)
                                //- TODO: csrf
                                button(type="submit")
                                    = buttonText
                        td= roomVotesToSkipCurrentSong.length
                        td
                            img(src='#{roomCurrentPlaybackState.item.album.images[0].url}', height=64, width=64)
                        td= roomCurrentPlaybackState.item.name
                        td= roomCurrentPlaybackState.item.album.name
                        td= roomCurrentPlaybackState.item.artists[0].name
                        td= roomCurrentPlaybackState.progress_ms/roomCurrentPlaybackState.item.duration_ms
    else
        p No currently playing song

    p
        form(name="spotifySearch", method="post", action="/#{roomName}/search")
            | Search for a Song:
            input(type="text", name="trackSearch")

            //select#searchTypeList(name="searchType")
            //    option(selected)
            //        | Track
            //    option
            //        | Artist
            //    option
            //        | Album
            //    option
            //        | Playlist

            input(type="submit", value="Search")

    block roomContent
