extends roomBase

block roomContent
    div
        h1 Search: #{searchQuery}

    div
        h2 Results:
        table
            thead
                tr
                    th Add To Queue
                    th Song Name
                    th Albumn
                    th Artist
                    th Length
            tbody
                each track in results
                    tr
                        td
                            a(href="/#{roomId}/add/#{track.id}") +
                        td= track.name
                        td= track.albumName
                        td= track.artistName
                        td= track.duration
