extends roomBase

block roomContent
    div
        h1 Search: #{searchQuery}

    div
        h2 Results:
        table
            thead
                tr
                    th Add To Queue
                    th Album Cover
                    th Song Name
                    th Album
                    th Artist
                    th Length
            tbody
                each track in results
                    tr
                        td
                            a(href="/#{roomId}/add/#{track.id}") +
                        td
                            img(src='#{track.albumImage}', height=64, width=64)
                        td= track.name
                        td= track.albumName
                        td= track.artistName
                        td= track.duration
