extends roomBase

block roomContent

    div.tile
        div.play-queue
            h2.title.is-size-4 Queue:
            if queue.length > 0
                table.table.is-striped.is-hoverable.is-fullwidth.is-narrow
                    thead
                        tr
                            th Position
                            th Album Cover
                            th Song Name
                            th Album
                            th Artist
                            th Length
                            th Votes to Skip
                            th Votes To Remove
                            th Actions
                    tbody
                        each track in queue
                            tr
                                td= track.position
                                td
                                    img(src=track.albumImage, height=64, width=64)
                                td= track.name
                                td= track.albumName
                                td= track.artistName
                                td= track.duration
                                td= track.votedToSkipUsers.size
                                td= track.votedToRemoveUsers.size
                                td
                                    .level
                                        .up-vote.level-item
                                            form(id=track.id + "-vote", method="POST", action="/room/" + roomName + "/vote")
                                                //- TODO: csrf
                                                input(type="hidden", name="songId", value=track.id)
                                                button(type="submit" class="button icon" title="vote for song")
                                                    i.fas.fa-arrow-up

                                        .down-vote.level-item
                                            form(id=track.id + "-unvote", method="POST", action="/room/" + roomName + "/unvote")
                                                //- TODO: csrf
                                                input(type="hidden", name="songId", value=track.id)
                                                button(type="submit" class="button icon" title="remove vote")
                                                    i.fas.fa-arrow-down

                                        .remove-vote.level-item
                                            if isOwner
                                                form(id="#{track.id}-remove", method="POST", action="/room/" + roomName + "/remove/" + track.id)
                                                    //- TODO: csrf
                                                    input(type="hidden", name="trackId", value=track.id)
                                                    button(type="submit" class="icon button" title="remove")
                                                        i.fas.fa-trash-alt
                                            else
                                                if track.currentUserVotedToRemove
                                                    - action = "/" + roomName + "/remove/" + track.id + "/unvote/";
                                                    - titleText = "vote to remove";
                                                else
                                                    - action = "/" + roomName + "/remove/" + track.id + "/vote/";
                                                    - titleText = "remove vote";
                                                form(id="#{track.id}-remove-#{text}", method="POST", action=action)
                                                    //- TODO: csrf
                                                    input(type="hidden", name="trackId", value=track.id)
                                                    button(type="submit" class="button icon" title=titleText)
                                                        i.fas.fa-trash-alt
            else
                p.subtitle Nothing in queue!

        div
            div.users-container
                h2.title.is-size-4 Users in room:
                div.users-list.content.is-medium
                    if roomUsers != undefined && roomUsers.length > 0
                        ul
                            each user in roomUsers
                                li=user
                    else
                        p Currently there are no users

    script.
        window.addEventListener("beforeunload", function (e) {
            $.ajax({
                method: "DELETE",
                url: "/room/{roomName}" + "/close"
            });
        });
