extends layout

block content

    div.level
        div.level-left
            div.content
                h1.title.is-1 Welcome to #{roomName}
                p.subtitle Queue a song or vote on what you want to hear next!

        div.level-right
            div.spotify-search.has-text-centered
                h2.title.is-size-4 Search for a song or artist!
                form(name="spotifySearch", method="post", action="/room/" + roomName + "/search")
                    .field.has-addons
                        .control
                            input(type="text", name="searchQuery").input.is-info.is-rounded
                        .control
                            .select.is-info.is-rounded
                                select#searchTypeList(name="searchType")
                                    option(selected)
                                        | Track
                                    option
                                        | Artist
                                    //option
                                    //    | Album
                                    //option
                                    //    | Playlist
                        .control
                            input(type="submit", value="Search").button.is-success.is-rounded

    div.content
        if roomCurrentPlaybackState
                if isOwner
                    h2.title.is-size-4 Room Controls:
                else
                    h2.title.is-size-4 Vote Room Controls:
                table.table.is-striped.is-hoverable.is-fullwidth.is-narrow
                    thead
                        tr
                            th Album Cover
                            th Song Name
                            th Album
                            th Artist
                            th Progress
                            th Skip Votes
                            th Actions
                    tbody
                        tr
                            td
                                img(src=roomCurrentPlaybackState.item.album.images[0].url, height=64, width=64)
                            td= roomCurrentPlaybackState.item.name
                            td= roomCurrentPlaybackState.item.album.name
                            td= roomCurrentPlaybackState.item.artists[0].name
                            td
                                - var progressPercent = (roomCurrentPlaybackState.progress_ms/roomCurrentPlaybackState.item.duration_ms) * 100;
                                progress(class="progress" value=progressPercent max="100")= progressPercent
                            td= roomVotesToSkipCurrentSong.length
                            td
                                .level
                                    if isOwner
                                        .playback-control.level-item
                                            if roomCurrentPlaybackState.is_playing
                                                form(id="pause", method="POST", action="/room/" + roomName + "/pause")
                                                    //- TODO: csrf
                                                    button(type="submit" class="button icon" title="pause")
                                                        i.fas.fa-pause
                                            else
                                                form(id="play", method="POST", action="/room/" + roomName + "/play")
                                                    //- TODO: csrf
                                                    button(type="submit" class="button icon" title="play")
                                                        i.fas.fa-play
                                    .vote-skip.level-item
                                        - var action = "";
                                        - var buttonText = "";
                                        if isOwner
                                            - action="/room/" + roomName +"/skip";
                                        else
                                            if userVotedToSkipCurrentSong
                                                - action = "/room/" + roomName + "/skip/unvote";
                                            else
                                                - action = "/room/" + roomName + "/skip/vote";
                                        form(id="skip", method="POST", action=action)
                                            //- TODO: csrf
                                            if isOwner
                                                button(type="submit" class="button icon" title="skip")
                                                    i.fas.fa-forward
                                            else
                                                if userVotedToSkipCurrentSong
                                                    button(type="submit" class="button icon" title="skip vote")
                                                        i.fas.fa-forward
                                                else
                                                    button(type="submit" class="button icon" title="vote to skip")
                                                        i.fas.fa-forward

        else
            p Nothing is currently playing!
    hr

    block roomContent
