extends roomBase

block roomContent
    div
        h2.title.is-size-3 Queue:
        if queue.length > 0
            table.table
                thead
                    tr
                        th Position
                        th Up Doot
                        th Down Doot
                        th Votes to Skip
                        th Album Cover
                        th Song Name
                        th Album
                        th Artist
                        th Length
                        th Votes To Remove
                        if isOwner
                            th Remove
                        else
                            th Vote to Remove
                tbody
                    each track in queue
                        tr
                            td= track.position
                            td
                                form(id=track.id + "-vote", method="POST", action="/room/" + roomName + "/vote")
                                    //- TODO: csrf
                                    input(type="hidden", name="songId", value=track.id)
                                    button(type="submit")
                                        ="+"
                            td
                                form(id=track.id + "-unvote", method="POST", action="/room/" + roomName + "/unvote")
                                    //- TODO: csrf
                                    input(type="hidden", name="songId", value=track.id)
                                    button(type="submit")
                                        ="-"
                            td= track.votedToSkipUsers.size
                            td
                                img(src=track.albumImage, height=64, width=64)
                            td= track.name
                            td= track.albumName
                            td= track.artistName
                            td= track.duration
                            td= track.votedToRemoveUsers.size
                            if isOwner
                                td
                                    form(id="#{track.id}-remove", method="POST", action="/room/" + roomName + "/remove/" + track.id)
                                        //- TODO: csrf
                                        input(type="hidden", name="trackId", value=track.id)
                                        button(type="submit")="remove"
                            else
                                td
                                    if track.currentUserVotedToRemove
                                        - action = "/" + roomName + "/remove/" + track.id + "/unvote/";
                                        - text = "unvote";
                                    else
                                        - action = "/" + roomName + "/remove/" + track.id + "/vote/";
                                        - text = "vote";
                                    form(id="#{track.id}-remove-#[text}", method="POST", action=action)
                                        //- TODO: csrf
                                        input(type="hidden", name="trackId", value=track.id)
                                        button(type="submit")= text + " to remove"
        else
            p.subtitle Nothing in queue!

    script.
        window.addEventListener("beforeunload", function (e) {
            $.ajax({
                method: "DELETE",
                url: "/room/{roomName}" + "/close"
            });
        });
